 


a {color: #0fadd9; text-decoration: none;}
a.gray {color: #777777; text-decoration: underline;}


/* FORMS */


.btn, input[type="submit"] {
    background: #0fadd9; 
    font-weight: bold; 
    color: rgba(255,255,255,0.75); 
    text-decoration: none;
    padding: 0.35rem 0.7rem;
    border: 0;
    cursor: pointer;
    border-radius: 0.25rem;
}
.btn:hover {color: rgba(91, 82, 114, 0.9);}


/* IMAGES */
#instafeed img:hover, .productimage:hover, #productlist li a:hover div {filter: grayscale(0%) brightness(100%) contrast(100%) opacity(100%);}
#instafeed img, .productimage, #productlist li a div {filter: grayscale(100%) brightness(116%) contrast(83%) opacity(70%); transition: filter .3s ease;}


.cart form, #shoppingcart, #checkout_progress {max-width: 45rem;}
.image-gallery-index a {color: #777;}



.home h1 {font-size: 2rem; font-weight: normal;}

